@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";
@import url("http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic");


/*

Global Selectors

Global Selectors are selectors that affect more than one component. If the selector name ends in the :alias pseudo-class, then the selector is most likely included in other component-specific selectors. Defining properties for a selector that ends in :alias will most likely affect the skin for more than one component. For example, most, if not all of our components use the .AFDefaultFontFamily:alias definition to specify the font-family. If your skin overrides the .AFDefaultFontFamily:alias selector with a different font-family, that change will affect all the components that have included it in their selector definition.
Color

are included in other components. Then to change the color scheme, you would change these core/accent color ramps and it will affect all the components it is including in.
Color->Unclassified Color

Colors that are not classified as either Anchor, Derivative, or Specialty colors.*/

/*The darkest background color in the core color ramp.  Only used by fusion skins.*/
.AFVeryDarkBackground:alias{

} 
/*The darkest foreground color in the core color ramp.  Only used by fusion skins.*/
.AFVeryDarkForeground:alias{

} 
/*The dark background color in the core color ramp. Only used by fusion skins.*/
.AFDarkBackground:alias{

} 
/*The dark foreground color in the core color ramp. Only used by fusion skins.*/
.AFDarkForeground:alias{

} 
/*The medium background color in the core color ramp. Only used by fusion skins.*/
.AFMediumBackground:alias{

} 
/*The medium foreground color in the core color ramp. Only used by fusion skins.*/
.AFMediumForeground:alias{

} 
/*The light background color in the core color ramp.  Only used by fusion skins.*/
.AFLightBackground:alias{

} 
/*The light foreground color in the core color ramp.  Only used by fusion skins.*/
.AFLightForeground:alias{

} 
/*The very light background color in the core color ramp. Only used by fusion skins.*/
.AFVeryLightBackground:alias{

} 
/*The very light foreground color in the core color ramp. Only used by fusion skins.*/
.AFVeryLightForeground:alias{

} 
/*The darkest background color in the accent color ramp.  Only used by fusion skins.*/
.AFVeryDarkAccentBackground:alias{

} 
/*The darkest foreground color in the accent color ramp.  Only used by fusion skins.*/
.AFVeryDarkAccentForeground:alias{

} 
/*The dark background color in the accent color ramp. Only used by fusion skins.*/
.AFDarkAccentBackground:alias{

} 
/*The dark foreground color in the accent color ramp. Only used by fusion skins.*/
.AFDarkAccentForeground:alias{

} 
/*The medium background color in the accent color ramp. Only used by fusion skins.*/
.AFMediumAccentBackground:alias{

} 
/*The medium foreground color in the accent color ramp. Only used by fusion skins.*/
.AFMediumAccentForeground:alias{

} 
/*The light background color in the accent color ramp.  Only used by fusion skins.*/
.AFLightAccentBackground:alias{

} 
/*The light foreground color in the accent color ramp.  Only used by fusion skins.*/
.AFLightAccentForeground:alias{

} 
/*The lightest background color in the accent color ramp. Only used by fusion skins.*/
.AFVeryLightAccentBackground:alias{

} 
/*The lightest foreground color in the accent color ramp. Only used by fusion skins.*/
.AFVeryLightAccentForeground:alias{

} 
/*A bright background color that is often used when hovering  Only used by fusion skins.*/
.AFBrightBackground:alias{

} 
/*A bright foreground color that is often used when hovering  Only used by fusion skins.*/
.AFBrightForeground:alias{

} 
/*A light bright background color that is often used when hovering  Only used by fusion skins.*/
.AFLightBrightBackground:alias{

} 
/*A light bright foreground color that is often used when hovering  Only used by fusion skins.*/
.AFLightBrightForeground:alias{

} 
/*A light color that often indicates "inactive selected", for example this color might be used on a table row that is selected when the table does not have focus.  Only used by fusion skins.*/
.AFHighlightBackground:alias{

} 
/*This is the darkest background color in the neutral color ramp, for example black.  Only used by fusion skins.*/
.AFDarkestNeutralBackground:alias{

} 
/*This is the darkest foreground color in the neutral color ramp, for example black.  Only used by fusion skins.*/
.AFDarkestNeutralForeground:alias{

} 
/*The light background color in the neutral color ramp. Only used by fusion skins.*/
.AFLightNeutralBackground:alias{

} 
/*The light foreground color in the neutral color ramp. Only used by fusion skins.*/
.AFLightNeutralForeground:alias{

} 
/*The lightest background color in the neutral color ramp, for example white. Only used by fusion skins.*/
.AFLightestNeutralBackground:alias{

} 
/*The lightest foreground color in the neutral color ramp, for example white. Only used by fusion skins.*/
.AFLightestNeutralForeground:alias{

} 
/*The disabled background color used to color components in a disabled state, like disabled buttons or content in a disabled inputText.*/
.AFDisabledBackground:alias{

} 




.AFBrandingBackgroundColor:alias{
}
/*Shadow color for popup and windows. Only used by skyros skins.*/
.AFShadowColor:alias{

}
/*A background color used for the main content area of your page. For example, the background color for the content area of the selected tab or the the background color for the decorative box theme = default/light. See also AFBackground2Color. Only used by skyros skins.*/
.AFBackgroundColor:alias{
}
/*Color of text in the global area. Only used by skyros skins.*/
.AFGlobalTextColor:alias{
}
/*Color of labels in the global area. Only used by skyros skins.*/
.AFGlobalLabelColor:alias{

}
/*Color of links in the branding area.  Only used by skyros skins.*/
.AFBrandingLinkColor:alias{

}
/*Color of the default font for text. Only used by skyros skins.*/
.AFTextColor:alias{
  color:#434A54;
}
/*Color of the foreground of badge. Only used by skyros skins.*/
.AFTextAltColor:alias{

}
/*Color of the border of badge. Only used by skyros skins.*/
.AFBadgeBorderColor:alias{

}

/*An accent color used sparingly in select components, generally for highlighting on hover. For example, splitter control highlight on hover or table row header on hover.  Only used by skyros skins.*/
.AFHoverPrimaryColor:alias{

}
/*An accent color used sparingly in select components, generally for highlighting on hover. For example, table cell background color on hover.  Only used by skyros skins.*/
.AFHoverSecondaryColor:alias{

}
/*Color used in many of our grid style components (ie. Table, Pivot Table, Calendar, Scheduling Gannt). Specifically, the grid cell background color when selected and inactive.  Only used by skyros skins.*/
.AFGridCellSelectedInactiveColor:alias{

}
/*Active data background color when twinkle is on.  Only used by skyros skins.*/
.AFActiveDataColor:alias{

}
/*The color for links in the global area. Only used by skyros skins.*/
.AFGlobalLinkColor:alias{

}
/*Color used during drag and drop. Specifically, the backround color of the drop target.  Only used by skyros skins.*/
.AFDropTargetColor:alias{

}
/*Color used as for header text across our components. For example, the titles in PanelHeader, Query, and PanelAccordion. Only used by skyros skins.*/
.AFHeaderTextColor:alias{

}
/*Color of required field indicator for form components.  Only used by skyros skins.*/
.AFRequiredColor:alias{

}



/*Color used in many of our grid style components (ie. Table, Pivot Table, Calendar, Scheduling Gannt). Specifically, the grid drag line color. Only used by skyros skins.*/
.AFGridDragLineColor:alias{

}
/*A background color used in the main content area of your page. This background color is typically used when providing a layered look in the content area. For example, the background color for the decorative box theme = medium. See also AFBackgroundColor.  Only used by skyros skins.*/
.AFBackground2Color:alias{

}

/*Color used in many of our grid style components (ie. Table, Pivot Table, Calendar, Scheduling Gannt). Specifically, the background color for a grid cell in active state. Only used by skyros skins.*/
.AFGridCellActiveColor:alias{

}


/*Color of required field indicator for form components in the global area. Only used by skyros skins.*/
.AFGlobalRequiredColor:alias{

}
/*Default background color in the global area.  Only used by skyros skins.*/
.AFGlobalBackgroundColor:alias{

}
/*A border color used for the main content area of your page. For example, the border color for the content area of the selected tab or the the background color for the decorative box theme = default/light. See also AFBackgroundBorder2Color. Only used by skyros skins.*/
.AFBackgroundBorderColor:alias{

}
/*Default background color of tabs in the global area.  Only used by skyros skins.*/
.AFGlobalTabColor:alias{

}


/*Color used to indicate a selected state. For example, background color for the selected node in a tree or background of selected choice in a dropdown.  Only used by skyros skins.*/
.AFSelectedColor:alias{

}
/*Slider tick mark color. Only used by skyros skins.*/
.AFSliderTickMarkColor:alias{

}
/*Color used in many of our grid style components (ie. Table, Pivot Table, Calendar, Scheduling Gannt). For example, the background of the column header, status bar, footer row of the table and the legend area and header in Scheduling Gantt. Only used by skyros skins.*/
.AFGridControlColor:alias{

}

/*Color used in many of our grid style components (ie. Table, Pivot Table, Calendar, Scheduling Gannt). For example, the row headers in the table or the filter bar in the pivot table. Only used by skyros skins.*/
.AFGridControl2Color:alias{

}
/*Color of disabled text. Only used by skyros skins.*/
.AFTextDisabledColor:alias{

}
/*Color of disabled links in global area. Only used by skyros skins.*/
.AFGlobalLinkDisabledColor:alias{

}
/*Color of disabled links in branding area. Only used by skyros skins.*/
.AFBrandingLinkDisabledColor:alias{

}

/*A top border color used in the main content area of your page. This border color corresponds with the AFBackground2Color. Only used by skyros skins.*/
.AFBackground2BorderTopColor:alias{

}

/*Color for active links in the brading area. Only used by skyros skins.*/
.AFBrandingLinkActiveColor:alias{

}
/*Color for active links in the brading area. Only used by skyros skins.*/
.AFGlobalLinkActiveColor:alias{

}




/*
Color->Derivative Color

Color aliases are are derivatives of the core anchor color aliases.
Selector Name Description Conditions*/
/*Color used sparingly in select components. It is stronger than the default font color. For example, the header, row and footer labels in the table and the selected tab text. Only used by skyros skins.*/
.AFTextPrimaryColor:alias{}


/*Color used sparingly in select components. It is slightly lighter than the default font color. For example, instrucional text.  Only used by skyros skins.*/
.AFTextSecondaryColor:alias{}

/*Color used sparingly in select components. It is lighter than the default font color. For example, placeholder text in inputText. Only used by skyros skins.*/
.AFTextTertiaryColor:alias{}



/*Color used in many of our grid style components (ie. Table, Pivot Table, Calendar, Scheduling Gannt). Specifically, the grid cell border color. Only used by skyros skins.*/
.AFGridCellBorderColor:alias{}

/*Help border color.  Only used by skyros skins.*/
.AFHelpBorderColor:alias{}




/*Color used in many of our grid style components (ie. Table, Pivot Table, Calendar, Scheduling Gannt). Specifically, the background color for the header when selected and inactive. Only used by skyros skins.*/
.AFGridControlSelectedInactiveColor:alias{}

/*Second drop target color used during drag and drop in some components.  Only used by skyros skins.*/
.AFDropTarget2Color:alias{}





/*Background top border color.  Only used by skyros skins.*/
.AFBackgroundBorderTopColor:alias{}



/*Background left, top, and right border color. Only used by skyros skins.*/
.AFBackground2BorderColor:alias{}



/*Progress current value color. Only used by skyros skins.*/
.AFProgressCurrentValueColor:alias{}



/*Disabled tab background color in the global area. Only used by skyros skins.*/
.AFGlobalTabDisabledColor:alias{}



/*Progress current value color in the global area.  Only used by skyros skins.*/
.AFGlobalProgressCurrentValueColor:alias{}

/*Color used in many of our grid style components (ie. Table, Pivot Table, Calendar, Scheduling Gannt). For example, the background color for the header when in selected state.  Only used by skyros skins.*/
.AFGridControlSelectedColor:alias{}

/*Slider tick mark at zero color. Only used by skyros skins.*/
.AFSliderTickMarkZeroColor:alias{}

/*Tab border color in global area.  Only used by skyros skins.*/
.AFGlobalTabBorderColor:alias{}





/*Selected date background color. Only used by skyros skins.*/
.AFDateSelectedColor:alias{}

/*Border color for a disabled tab in the global area. Only used by skyros skins.*/
.AFGlobalTabBorderDisabledColor:alias{}

/*Color used in many of our grid style components (ie. Table, Pivot Table, Calendar, Scheduling Gannt). For example, the background color for the header when in active state.  Only used by skyros skins.*/
.AFGridControlActiveColor:alias{}

/*List separator color. Only used by skyros skins.*/
.AFListSeparatorColor:alias{}










/*Color

Specialty Color

Infrequently used specialty color alias
*/
/*Background color for the code editor. Only used by skyros skins.*/
.AFCodeEditorBackgroundColor:alias{
}
/*Background color for progress area. Only used by skyros skins.*/
.AFProgressBackgroundColor:alias{
}
/*Line number text color for code editor. Only used by skyros skins.*/
.AFCodeEditorLineNumberTextColor:alias{
}
/*Swatch border color.  Only used by skyros skins.*/
.AFSwatchBorderColor:alias{
}
/*Color to distinguish errors.  Only used by skyros skins.*/
.AFErrorColor:alias{
}
/*Color to distinguish errors in code editor. Only used by skyros skins.*/
.AFCodeEditorErrorColor:alias{
}
/*Color to distinguish warnings.  Only used by skyros skins.*/
.AFWarningColor:alias{
}
/*Color to distinguish warnings in code editor. Only used by skyros skins.*/
.AFCodeEditorWarningColor:alias{
}

/*Code editor highlight color.  Only used by skyros skins.*/
.AFCodeEditorAreaHighlightColor:alias{
}
/*Freeze line color.  Only used by skyros skins.*/
.AFFreezeLineColor:alias{
}
/*Code editor line number border color. Only used by skyros skins.*/
.AFCodeEditorLineNumberBorderColor:alias{
}
/*Color used for disabled tick mark in the slider. It is lighter than the default font color. Only used by skyros skins.*/
.AFSliderDisabledColor:alias{
}
/*Slider slide bar color. Only used by skyros skins.*/
.AFSliderBarColor:alias{
}

/*Carousel focus border color.  Only used by skyros skins.*/
.AFCarouselFocusBorderColor:alias{
}
/*Background color for code editor active area. Only used by skyros skins.*/
.AFCodeEditorAreaActiveColor:alias{
}

/*Code editor toolbar background color. Only used by skyros skins.*/
.AFCodeEditorToolbarBackgroundColor:alias{
}
/*Code editor disabled text color.  Only used by skyros skins.*/
.AFCodeEditorTextDisabledColor:alias{
}
/*Color used for numeral text of for disabled days in the inputDate component. It is lighter than the default font color. Only used by skyros skins.*/
.AFDateDisabledColor:alias{
}
/*Next date color.  Only used by skyros skins.*/
.AFDateNextColor:alias{
}
/*Slider numeral color. Only used by skyros skins.*/
.AFSliderNumeralColor:alias{
}
/*Page stamp text color.  Only used by skyros skins.*/
.AFPageStampTextColor:alias{
}
/*Code Editor disabled background color.  Only used by skyros skins.*/
.AFCodeEditorBackgroundDisabledColor:alias{
}
/*Slider thumb text color.  Only used by skyros skins.*/
.AFSliderThumbTextColor:alias{
  
}



/*FONTS*/
/*import web fonts here*/


/*Specifies the default font for the skin. This style defines both the default font family (as specified by the AFDefaultFontFamily named style), the default font size, and default font weight.*/
.AFDefaultFont:alias  {
     font-size: 14px;
     line-height:18px;
}

/*Includes AFDefaultFont:alias,and sets the font-weight to bold.*/
.AFDefaultBoldFont:alias  {
  font-weight:700;
}


/*Specifies the default font family list ("font-family" property) for the skin.*/
.AFDefaultFontFamily:alias  {
    font-family: 'Ubuntu', Tahoma, Verdana, Helvetica, sans-serif;
}

/*Specifies the font for small sized header text.*/
.AFSmallHeaderFont:alias  {
    font-size: 16px;

}

/*Specifies the font for medium sized header text.*/
.AFMediumHeaderFont:alias {
    font-size: 20px;

}

/*Specifies the font for large sized header text.*/
.AFLargeHeaderFont:alias  {
     font-size: 24px;

}


/*TEXT*/

/*Specifies the color of the font for text. Only used by fusion skins.*/

.AFBackground2Color:alias {
    color: #F1F2F6; 
}

.AFGaugeMetricBorderColor:alias {
    color: #C6C7CA; 
}

.AFBackground2BorderColor:alias {
    color: #E7E8EB; 
}

.AFBrandingBackgroundColor:alias {
    color: #3BAFDA; 
}

.AFBrandingBar {
    height: 80px; 
}

.AFBrandingBarItem {
  height: 200px;
}

.AFGlobalBackgroundColor:alias {
    color: #AAB2BD; 
}


 

@import 'bourbon/bourbon';
@import '_mixins.scss';
@import '_fonts.scss';
@import "_colors.scss";
@import "_icons.scss";

@import "_buttons.scss";
@import "_links.scss";
@import "_components.scss";
@import "_forms.scss";
@import "_menus.scss";
@import "_panels.scss";
@import "_tabs.scss";
@import "_panelAccordian.scss";


af|button{
  z-index: 1;
}

af|panelFormLayout{
  z-index: 1;
}

af|menu::bar-item{
 z-index: 1; 
}
af|panelWindow{
 z-index: 1; 

}

af|panelTabbed{
  z-index: 1;
}

af|panelAccordion{
   z-index: 1;
}







